<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuforiji.lei">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".core.CustomApp"
        android:allowBackup="true"
        android:icon="@mipmap/lei_launcher_icon"
        android:label="Lei"
        android:roundIcon="@mipmap/lei_launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lei">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>